body {

  background-color: rgb(177, 86, 0);
}

.links {
  padding: 20px;
  text-align: center;
  background-color: rgb(255, 213, 158);
  height: 50px;
  font-weight: bold;

}

a {
  background-color: rgb(255, 213, 158);
  margin-right: 10px;
  text-decoration: none;
  font-size: 20px;
  color: black;

}

a:hover {
  color: white;
  font-size: 25px;
}

header {
  display: flex;
  align-items: center;
  background-color: beige;
  height: 100px;
  padding: 10px 20px;
  margin-top: 0px;
}

.logo {
  height: 150px;
  width: 50PX;
  width: auto;
  margin-right: 20px;
}

h1 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  color: black;
  margin-right: 10px;
  flex-wrap: wrap;

}

.text-box {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 100px;
  border: 2px solid #ccc;
  width: fit-content;
  margin-left: 10px;
  margin-right: 30px;
  flex-shrink: 0;
}

.text-box input {
  border: none;
  outline: none;
  font-size: 18px;
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.icon {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.photo {
  margin-top: 40px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.photos {
  margin-top: 30px;
  width: 320px;
  height: auto;
  justify-content: end;
}

.tagline {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  font-style: italic;
  margin-right: 20px;

}

.contact {
  top: 10px;
  right: 10px;
  display: flex;
  font-size: 10px;
}

.phone-icon {
  width: 30px;
  margin-right: 8px;
}

.phone-number {
  margin: 0;
  font-size: 20px;
  color: #000000;
  font-style: italic;
  font-size: 20px;
  padding: 0;

}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 3rem 0 2rem;
  color: #000000;
}

.wrapped {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem 4rem;
}

.card {
  background-color: #fff;
  border: 2px solid #d8c4b0;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

blockquote {
  font-style: italic;
  font-size: 0.95rem;
  margin: 0 0 1rem;
  color: #3a2f2f;
  text-align: center;
}

.author {
  font-size: 10px;
  color: #7a5b4b;
  text-align: center;
}

.products {
  font-style: italic;
  font-size: x-large;
}
.label{
  margin-bottom: 10px;
  font-size: x-large;
  font-style: oblique;
}
footer{
  background-color: #3a2f2f;
}